@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

$primary-color: #ffffff;
$secondary-color: #222831;
$font-stack: 'Titillium Web', sans-serif;

%button {
    cursor: pointer;
    color: $primary-color;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: $font-stack;
    height: 30px;
    margin: 0 2px 0 2px;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 110px;

    &:hover {
        background-color: $secondary-color;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

%form-elements {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: $font-stack;
    height: 30px;
    margin: 10px auto 10px auto;
    width: 50%;

    &:focus{
        outline: none;
    }
}

%draggable-element {
    background-color: $secondary-color;
    color: $primary-color;
    opacity: 0.5;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    margin: 0;

    #buttons {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(9, 110px);
        margin: 20px auto 20px auto;
        max-width: 1030px;

        #newRow {
            @extend %button;
            background-color: #61b15a;
            grid-column: 2 / 3;
        }

        #newColumn {
            @extend %button;
            background-color: #11698e;
            grid-column: 3 / 4;
        }

        #save {
            @extend %button; 
            background-color: #ffcc29;
            grid-column: 4 / 5;
        }

        #delete {
            @extend %button;
            background-color: #bb2205;
            grid-column: 8 / 9;
            transform: scale(0);
        }

    }

    #modal {
        background-color: $primary-color;
        border: 2px solid 222831;
        border-radius: 10px;
        bottom: 0;
        height: 246px;
        left: 30%;
        position: fixed;
        right: 0;
        transition: 0.5s ease-in-out;
        transform: scale(0);
        text-align: center;
        top: 10%;
        width: 400px;
        z-index: 1;

        form {
            display: block;
            margin: 10px;

            label {
                display: block;
                font-family: $font-stack;
                font-weight: bold;
                font-size: 25px;
            }

            input[type='text'] {
                @extend %form-elements;
                cursor: text !important;
            }

            select {
                @extend %form-elements;
                
                option { 
                    font-family: $font-stack;
                }
            }

            input[type='submit'] {
                @extend %button;
                background-color: #ffd369;
                color: $secondary-color;
                margin: 10px auto 10px auto;

                &:hover {
                    background-color: $secondary-color !important;
                    color: #ffd369;
                }
            }
        }
    }

    .active {
        transform: scale(1) !important;
    }

    #root {
        background-color: $primary-color;
        border: $secondary-color 1px solid;
        border-radius: 10px;
        color: $secondary-color !important;
        height: 330px;
        margin: 0 auto 0 auto;
        max-width: 990px;
        overflow: auto;
        padding: 10px;

        table {
            border-collapse: collapse;

            tr[draggable='true'] {
                @extend %draggable-element;
            }

            thead {
                tr {
                    color: $secondary-color;
                    font-weight: bold;
                    font-family: $font-stack;
                    margin: 0;
                    padding: 1px 2px 1px 2px;
                    text-align: center;
                }
            }

            td {
                border: 2px solid $secondary-color;
                cursor: text;
                font-size: 15px;
                height: 25px;
                margin: 0;
                max-width: 180px;
                overflow: auto;
                padding: 2px;
                width: 180px;
            }
    
            td:first-child {
                width: 60px;

                input[type="checkbox"] {
                    cursor: pointer;
                    display: block;
                }
            }

            td[draggable='true'] {
                @extend %draggable-element;
            }

            .text { text-align: left; }
            
            .number { text-align: right; }
        }
    }
    
    #pagination {
        margin: 10px auto 0 auto;
        max-width: 990px;

        #page-buttons{
            display: flex;
            justify-content: flex-end;
        }

        button {
            @extend %button;
            background-color: #d3d3d3;
            color: $secondary-color;
            overflow: auto;
            width: 45px;

            &:hover {
                color: white;
            }
        }
    }

    #overlay {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: fixed;
        right: 0;
        transform: scale(0);
        top: 0;
    }
}
